<!-- BEGIN topic_rows -->
<div style="overflow: hidden; height: 19.2px; width: 97%;" class="gensmall">
	<em title="{L_POSTER}" style="float: right; padding-top: 2px;padding-right: 1px;">
		<!-- IF topic_rows.NEWPOST_MODE --><span style="font-style:normal;">{L_BY}:</span> {topic_rows.LAST_POSTER_S}<!-- ENDIF -->
		<!-- IF topic_rows.MOSTVIEW_MODE --><span style="font-style:normal;">{L_VIEWS} <b>{topic_rows.VIEWS}</b> {L_TIMES}</span><!-- ENDIF -->
		<!-- IF topic_rows.HOTEST_MODE --><span style="font-style:normal;">{L_REPLIES} <b>{topic_rows.REPLIES}</b> {L_TIMES}</span><!-- ENDIF -->
	</em>
	<span onmouseover="showtip(this.getElementsByTagName('div')[0].innerHTML,250,'white');" onmouseout="hidetip();" style="float: left;">
		<a href="{topic_rows.U_TOPIC}">{topic_rows.TOPIC_TITLE}</a>
		<div style="display: none;">
			<div align="left">
				<table cellspacing="1" cellpadding="6" border="0" style="width: 250px;"align="center" class="tborder">
			<thead>
				<tr>
					<td class="thread"><b>Thông tin:</b></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="alt">
						<div class="gensmall">&bull; <b>{L_FORUM}:</b> {topic_rows.FORUM_NAME}</div>
						<div class="gensmall">&bull; <b>{L_TOPIC}:</b> {topic_rows.TIP_TOPIC_TITLE}</div>
						<div class="gensmall">&bull; <b>{L_POSTER}:</b> {topic_rows.USERNAME_FULL}</div>
						<div class="gensmall">&bull; <b>{L_POST_TIME}:</b> {topic_rows.POST_TIME}</div>
						<div class="gensmall">&bull; <b>{L_VIEWS}:</b> {topic_rows.VIEWS} {L_TIMES}</div>
						<div class="gensmall">&bull; <b>{L_REPLY}:</b> {topic_rows.REPLIES} {L_TIMES}</div>
						<div class="gensmall">&bull; <b>{L_LATEST_POST_TIME}:</b> {topic_rows.LATEST_POST_TIME}</div>
						<div class="gensmall">&bull; <b>{L_LATEST_POSTER}:</b> {topic_rows.LATEST_POSTER}</div>
					</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
	</span>
</div>
<!-- END topic_rows -->
<!-- BEGIN topx_newest --><div style="overflow: hidden; height: 19.2px; width: 97%;" class="gensmall">
	<em title="{L_REGDATE}" style="float: right; padding-top: 2px;padding-right: 1px;">
    	<span style="font-style:normal;">{topx_newest.REG_DATE}</span>
	</em>
	<span style="float: left;">
		{topx_newest.USERNAME_FULL}
	</span>
</div><!-- END topx_newest -->
<!-- BEGIN topx_active --><div style="overflow: hidden; height: 19.2px; width: 97%;" class="gensmall">
	<em title="{L_TOPICS}" style="float: right; padding-top: 2px;padding-right: 1px;">
		<span style="font-style:normal;">{topx_active.POSTS}</span>
	</em>
	<span style="float: left;">
		{topx_active.USERNAME_FULL}
	</span>
</div>
<!-- END topx_active -->
<!-- BEGIN topx_thanked --><div style="overflow: hidden; height: 19.2px; width: 97%;" class="gensmall">
	<em title="{L_THANKED}" style="float: right; padding-top: 2px;padding-right: 1px;">
		<span style="font-style:normal;">{topx_thanked.THANKED}</span>
	</em>
	<span style="float: left;">
		{topx_thanked.USERNAME_FULL}
	</span>
</div>
<!-- END topx_active -->