<script>
var xmlHttp1 = http_object();
var xmlHttp2 = http_object();
//var li5='';
function addLoadEventV(func)	{
	var oldload = window.onload;
	if (typeof window.onload != 'function')	{
		window.onload = func;
	}
	else	{
		window.onload = function()	{
			oldload();
			func();
			}
	}
}	
function addEventV(){
//	document.getElementById('statstable').style.display="block";
	document.getElementById('top_users').onchange=function(){
		top_users_stats(this.value);
	}
	li=document.getElementsByTagName('li');
	for(i=0;i<li.length;i++){
		li5=li[i].id.substr(0,5);
		if(li5=='topx_'){
			li[i].className='';
			//alert(li[i].id+' '+i);
			li[i].onclick=function(){
				li=document.getElementsByTagName('li');
				for(i=0;i<li.length;i++){
					li5=li[i].id.substr(0,5);
					if(li5=='topx_') li[i].className='';
				}
				this.className='current';
				top_posts_stats(this.id);
			}
		}
	}
	top_users_stats('newest');
	document.getElementById('topx_newpost').className='current';
	top_posts_stats('topx_newpost');
}
//top_users_stats('newest');
addLoadEventV(addEventV);
function top_users_stats(value){
	xmlHttp1 = http_object();
	param='&mode='+value;
	xmlHttp1.onreadystatechange = top_users_return;
	xmlHttp1.open("POST", './topx.php', true);
	xmlHttp1.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	xmlHttp1.send(param);
	document.getElementById('top_user_list').innerHTML = '<img src="./images/13x13progress.gif" style="margin-top: 140px; margin-left: 80px;"/>';
}
function top_posts_stats(value){
	xmlHttp2 = http_object();
	param='&mode='+value;
	xmlHttp2.onreadystatechange = top_posts_return;
	xmlHttp2.open("POST", './topx.php', true);
	xmlHttp2.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	xmlHttp2.send(param);
	document.getElementById('top_post_list').innerHTML = '<img src="./images/13x13progress.gif" style="margin-top: 140px; margin-left: 48%;"/>';
}
function top_users_return(){
	if (xmlHttp1.readyState == 4)
	{
		document.getElementById('top_user_list').innerHTML = xmlHttp1.responseText;
	}
}
function top_posts_return(){
	if (xmlHttp2.readyState == 4)
	{
		document.getElementById('top_post_list').innerHTML = xmlHttp2.responseText;
	}
}
function http_object()
{
	try
	{
		// Firefox, Opera 8.0+, Safari
		xmlHttp = new XMLHttpRequest();
	}
	catch (e)
	{
		// Internet Explorer
		try
		{
			xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
		}
		catch (e)
		{
			try
			{
				xmlHttp = new ActiveXObject('Microsoft.XMLHTTP');
			}
			catch (e)
			{
				alert("Your browser does not support AJAX!");
				return false;
			}
		}
	}
	return xmlHttp;
}
var offsetfromcursorX = 12;
var offsetfromcursorY = 10;
var offsetdivfrompointerX = 10;
var offsetdivfrompointerY = 14;

document.write('<div id="dhtmltooltip"></div>');
document.write('<img id="dhtmlpointer" src="./images/tip.gif">');

var ie = document.all;
var ns6 = document.getElementById && ! document.all;
var enabletip = false;
var  tipobj = document.getElementById("dhtmltooltip");
var pointerobj = document.getElementById("dhtmlpointer");
function ietruebody() {
	return (document.compatMode && document.compatMode != "BackCompat") ? document.documentElement : document.body;
}

String.prototype.trim = function () {
    return this.replace(/^\s*/, "").replace(/\s*$/, "");
}

function showtip(thetext, thewidth, thecolor) {
	if (ns6 || ie) {
		if (typeof thewidth != "undefined")
			tipobj.style.width = thewidth + "px";
		if (typeof thecolor != "undefined" && thecolor != "")
			tipobj.style.backgroundColor = thecolor;
		thetext = thetext.trim();
		var arr = thetext.split(" ");
		for(i=0;i<arr.length;i++)
			if(arr[i].length>=200)
				thetext=thetext.replace(arr[i],arr[i].substr(0,200)+"...");
		tipobj.innerHTML = thetext;		
		enabletip = true;
		return false;
	}
}

function positiontip(e) {
	if (enabletip) {		
		var nondefaultpos = false;
		var curX = (ns6) ? e.pageX : event.clientX + ietruebody().scrollLeft;
		var curY = (ns6) ? e.pageY : event.clientY + ietruebody().scrollTop;
		
		var winwidth = ie && ! window.opera ? ietruebody().clientWidth : window.innerWidth - 20;
		var winheight = ie && ! window.opera ? ietruebody().clientHeight : window.innerHeight - 20;

		var rightedge = ie && ! window.opera ? winwidth - event.clientX - offsetfromcursorX : winwidth - e.clientX - offsetfromcursorX;
		var bottomedge = ie && ! window.opera ? winheight - event.clientY - offsetfromcursorY : winheight - e.clientY - offsetfromcursorY;

		var leftedge = (offsetfromcursorX < 0) ? offsetfromcursorX * (- 1) : - 1000;

		if (rightedge < tipobj.offsetWidth) {
			tipobj.style.left = curX - tipobj.offsetWidth + "px";
			nondefaultpos = true;
		}
		else if (curX < leftedge)
			tipobj.style.left = "5px";
		else {
			tipobj.style.left = curX + offsetfromcursorX - offsetdivfrompointerX + "px";
			pointerobj.style.left = curX + offsetfromcursorX + "px";
		}

		if (bottomedge < tipobj.offsetHeight) {
			tipobj.style.top = curY - tipobj.offsetHeight - offsetfromcursorY + "px";
			nondefaultpos = true;
		}
		else {
			tipobj.style.top = curY + offsetfromcursorY + offsetdivfrompointerY + "px";
			pointerobj.style.top = curY + offsetfromcursorY + "px";
		}

		tipobj.style.visibility = "visible";

		if (! nondefaultpos)
			pointerobj.style.visibility = "visible";
		else
			pointerobj.style.visibility = "hidden";
	}
}

function hidetip() {
	if (ns6 || ie) {
		enabletip = false;
		tipobj.style.visibility = "hidden";
		pointerobj.style.visibility = "hidden";
		tipobj.style.left = "-1000px";
		tipobj.style.backgroundColor = '';
		tipobj.style.width = '';
	}
}

document.onmousemove = positiontip;
</script>

<!-- INCLUDEJS @meis2m_affs/js/jquery-ui.js -->
<!-- INCLUDECSS @meis2m_affs/advanced-forum-stats.css -->

<table id="statstable" class="latest-posts" cellspacing="0" style="" >
	<tr align="top"><th colspan="2" align="left">{L_TFORUM_STATS}</th></tr>
	<tr>
		<td width="25%"style="padding: 5px 0px 0px 5px;vertical-align:top;">
			<div class="mainbox">
				<ul class="tabs">
				<li class="current"><span style="padding: 0px 5px;">
					<select class="gensmall" id="top_users">
					<option selected="selected" value="newest">{L_TNEWEST_MEM}</option>
					<option value="topthanked">{L_TTOP_THANKED}</option>
					<option value="topposter">{L_TTOP_POSTER}</option>
					</select></span>
				</li></ul><table><tr style="vertical-align:top;"><td><img src="./images/list.gif" /></td><td background="./images/listbg.gif" width="100%" style="border-top: 0px none; padding: 0px; line-height: 20px; background-repeat: repeat;">
				<div id="top_user_list" style="height:308px;">
					<img src="./images/13x13progress.gif" style="margin-top: 140px; margin-left: 80px;"/>
				</div></td></tr></table>
			</div>
		</td>
		<td style="padding: 5px 5px 0px;vertical-align:top;">
			<div class="mainbox">
				<ul class="tabs">
					<li id="topx_newpost" class="current"><span style="padding: 0px 8px 0px 8px;"><a onclick="return false;" href="#">{L_TNEW_THREAD}</a></span></li>
					<li id="topx_mostview" class=""><span style="padding: 0px 8px;"><a onclick="return false;" href="#">{L_TMOST_VIEW}</a></span></li>
					<li id="topx_hotesttopic" class=""><span style="padding: 0px 8px;"><a onclick="return false;" href="#">{L_THOT_TOPIC}</a></span></li>
				</ul>
				<table><tr style="vertical-align:top;"><td><img src="./images/list.gif" /></td><td background="./images/listbg.gif" width="100%" style="border-top: 0px none; padding: 0px; line-height: 20px; background-repeat: repeat;">
				<div id="top_post_list" style="height:308px;">
					<img src="./images/13x13progress.gif" style="margin-top: 140px; margin-left: 48%;"/>
				</div></td></tr></table>
			</div>
		</td>
	</tr>
</table>